.sorting-bars {
  display: inline-block;
  width: 0.5%;
  margin: 0.055%;
}

.graph-box {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 420px;
  background: #f1f1f1;
  padding-top: 10px;
}
