.sorting-bars{
    display: inline-block;
    background: black;
    width: 4px;
    height: 300px;
}

#one{
    height: 200px;
}
#two{
    height: 120px;
}
#three{
    height: 230px;
}
#four{
    height: 190px;
}
#five{
    height: 350px;
}
#six{
    height: 270px;
}
#seven{
    height: 170px;
}
#eight{
    height: 240px;
}
#nine{
    height: 70px;
}
#ten{
    height: 20px;
}
#eleven{
    height: 130px;
}
#twelve{
    height: 180px;
}
#thirteen{
    height: 30px;
}
#fourteen{
    height: 90px;
}
#fifteen{
    height: 260px;
}
#sixteen{
    height: 300px;
}
#seventeen{
    height: 220px;
}
#eighteen{
    height: 170px;
}
#nineteen{
    height: 150px;
}
#twenty{
    height: 310px;
}
#twentyone{
    height: 284px;
}
#twentytwo{
    height: 274px;
}
#twentythree{
    height: 213px;
}
#twentyfour{
    height: 317px;
}
#twentyfive{
    height: 219px;
}
#twentysix{
    height: 50px;
}
#twentyseven{
    height: 324px;
}
#twentyeight{
    height: 125px;
}
#twentynine{
    height: 115px;
}
#thirty{
    height: 99px;
}
#thirtyone{
    height: 90px;
}
#thirtytwo{
    height: 305px;
}
#thirtythree{
    height: 205px;
}
#thirtyfour{
    height: 215px;
}
#thirtyfive{
    height: 237px;
}
#thirtysix{
    height: 167px;
}
#thirtyseven{
    height: 188px;
}
#thirtyeight{
    height: 233px;
}
#thirtynine{
    height: 172px;
}
#forty{
    height: 222px;
}

